body {
    font-family: 'Century', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    background: #fff;
    flex: 1;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border-radius: 0;
}

.profile-info {
    font-size: 14px;
}

.profile-info p {
    margin: 0;
}

h2 {
    font-size: 22px;
    text-align: left;
    margin-top: 0;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.photo-container {
    text-align: center;
    margin-top: 20px;
}

.research-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.caption {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.fas, .fab {
    margin-right: 5px;
}

.publication-year {
    font-weight: bold;
    color: blue;
}

.bold-black {
    font-weight: bold;
    color: black;
}

#research-highlights a {
    color: blue; /* Change to the desired color */
    text-decoration: none; /* Remove underline */
}

#research-highlights a:hover {
    color: red; /* Optional: Change color on hover */
    text-decoration: underline; /* Optional: Add underline on hover */
}
